extends layouts/main-layouts.pug

block pageTitle
    title #{pageTitle}

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content   
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://images-na.ssl-images-amazon.com/images/I/41XObagHvKL._SX326_BO1,204,203,200_.jpg", alt="Capitalism and freedom")
                        .card__content
                            h2.product__price $16.29
                            p.product__description  How can we benefit from the promise of government while avoiding the threat it poses to individual freedom? In this classic book, Milton Friedman provides the definitive statement of his immensely influential economic philosophy—one in which competitive capitalism serves as both a device for achieving economic freedom and a necessary condition for political freedom. The result is an accessible text that has sold well over half a million copies in English, has been translated into eighteen languages, and shows every sign of becoming more and more influential as time goes on.
                        .card__actions
                            button.btn Add to cart
        else   
            h1 No Products